@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- custom music video section -->
<h1>Tennesse Whiskey</h1>

<div class="video-container">
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/4zAThXFOy2c"
            title="Chris Stapleton – Tennessee Whiskey (Official Audio)"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>

</div>

<p id="movingText">
    You're as smooth as Tennessee whiskey.. You're as sweet as strawberry wine.. You're as warm as a glass of brand.. and honey, I stay stoned on your love all the time
</p>

<link rel="stylesheet" href="~/css/style.css" />
<script src="~/js/script.js"></script>
