/*one_page_website.css*/

body {
    background-color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: purple;
}

h1 {
    color: blueviolet;
    font-family: Georgia, serif;
}

form input[type="text"] {
    width: 20%;
    margin: 5px;
    border: 2px solid purple;
    border-radius: 7px;
}